body {
    background: #5a5a5a;
}

aside {
    position: fixed;
    width: 160px;
    height: 100%;
    top: 100px;
    left: 10px;

}

    aside h2 {
        cursor: default;
        padding: 2px 7px;
        font-weight: normal;
        font-size: 18px;
        text-align: right;
        color: #fff;
        background-color: #f35b8e;
        float: right;
        border-right: solid 4px #bf4870;

        margin: 0 8px 2px;

    }

    aside .toolbox {
        clear: both;
        margin-top: 0;
        margin-bottom: 40px;
        margin-right: 3px;
        padding: 0;
    }

    aside .toolbox li {
        margin: 2px 5px;
        list-style: none;
        font-size: 12px;
        text-align: right;

    }

    aside .toolbox li:after {
        content: "";
    clear: both;
}

    aside .toolbox li span {
        padding: 4px 10px;
        background-color: #f3ef56;
        color: #303030;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        cursor: default;
        border-right: 4px solid #d2ce4a;
        cursor: move;

    }

article {
    background: white url(../images/paper.png);
    margin: 80px 0 50px 162px;

}

header {
    position: absolute;
    top: 14px;
    left: 162px;
    width: 960px;
}

    header h1 {
        margin: 0;
        padding: 10px;
        font-size: 30px;
        color: #e8e8e8;
        font-weight: normal;
        cursor: pointer;
    }


nav {
    position: absolute;
    top: 28px;
    left: 772px;
    z-index: 1;
    width: 350px;
}

    nav h2 {
        margin: 0;
        background-color: #4e4e4e;
        font-size: 17px;
        padding: 5px 0;
        text-align: center;
        width: 170px;
        float: right;
        color: #e8e8e8;
        cursor: pointer;
    }

    nav h2:hover {
        background-color: black;
    }

    nav section {
        display: none;
        background-color: #ededed;
        margin-top: 34px;
    }

    nav section h3 {
        color: #414141;
        padding: 7px 15px 0;
        margin: 0;
    }

    nav ul {
        margin: 0;
        width: 100%;
    }

    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        display: inline-block;
        padding: 10px 16px;
        color: #4a4a4a;
        text-decoration: none;
    }

    nav ul li a.destroy {
        float: right;
        margin-right: 10px;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    nav form {
        padding: 15px;
    }

    nav form input {
        width: 90%;
    }




footer {
    display: none;
    position: fixed;
    bottom: 0;

    background-color: white;
    width: 100%;
    border-top: 10px solid #f2ee55;
}

    footer form {

    }

    footer > * {
        width: 960px;
        margin: 0 auto;
    }

    footer h2 {
        margin: 5px auto;
        padding: 4px;
        color: gray;
        font-weight: normal;

    }

    footer form {
    }

    footer form .line {
        width: 200px;
        float: left;
        margin-right: 30px;
        margin-left: 2px;
        padding-bottom: 20px;
    }

    footer form input {
        width: 100%;
        outline: none;
        padding: 2px 4px;

    }

    footer form label {
    color: #484848;
    }

    footer .line.delete {
        float: right;
        text-align: right;
        font-size: 18px;
        margin-top: 37px;
    }

    footer a.delete {
        color: white;
        background-color: #bf4870;
        padding: 3px 8px;
        text-decoration: none;
    }

    footer a.delete:hover {
        background-color: #8d3553;
        color: white;
    }

.object {
    position: absolute !important; /* prevent jquery ui draggable position definition */
    cursor: move;
    outline: none;
}

.object input {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: text;
}

.object .button {
    background-color: #e8e8e8;
    color: #383838;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    font-weight: normal;
    border: 3px solid #383838;
}

.object .button input {
    text-align: center;
}

.object .checkbox {
    width: 20px;
    height: 20px;
    background-color: #e8e8e8;
    border: 3px solid #383838;
    border-radius: 20%;
}

.object .checkbox.checked:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 5px;
    background: transparent;
    top: 7px;
    left: 6px;

    border-left: 3px solid black;
    border-bottom: 3px solid black;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.object .checkbox ~ span {
    min-width: 200px;
    margin-top: -23px;
    margin-left: 34px;
    font-weight: bold;
    position: absolute;
}

.object .radio {
    width: 20px;
    height: 20px;
    background-color: #e8e8e8;
    border: 3px solid #383838;
    border-radius: 50%;
}

.object .radio.checked:after {
    position: absolute;
    left: 7px;
    top: 7px;
    content: "";
    width: 45%;
    height: 45%;
    background-color: #5a5a5a;
    border-radius: 50%;
}

.object .radio ~ span {
    min-width: 200px;
    margin-top: -23px;
    margin-left: 32px;
    font-weight: bold;
    position: absolute;
}

.object table {
    background-color: #e8e8e8;
    border: 3px solid #383838;
    width: 100%;

}

.object table td {
    padding: 5px 10px;
    border: 1px solid #a2a2a2;
}

.object table th {
    text-align: center;
    padding: 3px 5px;
    background-color: #383838;
    color: white;
}

.object table input {
    width: 95%;
}

.object .combobox {
    width: 100%;
    background-color: #e8e8e8;
    overflow: hidden;
    min-width: 120px;
    border: 3px solid #383838;
    border-radius: 5px;
}
.object .combobox .text {
    float: left;
    width: 70%;
    padding: 3px 5px 3px;
}

.object .combobox .opener {
    position: absolute;
    right: 5px;
    top: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #383838 transparent transparent transparent;
    text-indent: -9999px;

}

.object.preview .heading {
    width: 400px;
}

.object.preview table {
    width: 250px;
}

.object .heading {
    margin: 0;
}

.object .paragraph {
    width: 100%;
}

.object.preview .paragraph {
    width: 300px;
}

.object .paragraph p {
    padding: 5px;
    margin: 0;
}

.object .image {
    background-color: white;
    border: 2px solid #dedede;

}

.object .shape {
    width: 100%;
    height: 100%;
}

.object.circle .shape {
    border-radius: 50%;
}



.ui-resizable-handle {
    bottom: -4px;
    right: -4px;
    border-radius: 50%;
    background-color: orange;
    height: 10px;
    width: 10px;
    visibility: hidden;
}

.object:focus .ui-resizable-handle {
    visibility: visible;
}

