<!DOCTYPE html>
<html>
<head>
    <title>Use mockups</title>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="static/css/h5bp.css" />
    <link type="text/css" rel="stylesheet" href="static/css/screen.css" />
    <style type="text/css">

    </style>
</head>
<body>

    <nav>
        <h2>Select a Document</h2>
        <section>
            <h3>Documents</h3>
            <ul></ul>
            <h3>Create a new document</h3>
            <form>
                <input type="text" name="title" id="title" />
            </form>
        </section>
    </nav>

    <aside>


    </aside>

    <header>
        <h1></h1>
    </header>

    <article style="width: 960px; height: 1200px;">


    </article>

    <footer>
        <h2>Properties</h2>
        <form class="properties"></form>
    </footer>

    <script type="text/html" id="navigation-item-template">
        <a class="show" href="#document/<%= id %>"><%= title %></a>
        <a class="destroy" href="#">Delete</a>
    </script>

    <script type="text/html" id="property-form-template">
    <% for (var attribute in attributes) { %>
        <% if (!attributes[attribute].hidden) { %>
        <div class="line">
        <label for="id_<%= attributes[attribute].name %>"><%= attributes[attribute].name %></label>

        <% if (attributes[attribute].type == "boolean") { %>
            <input type="checkbox" id="id_<%= attributes[attribute].name %>"
               name="<%= attributes[attribute].name %>"
               <% if (attributes[attribute].value) { %> checked="checked" <% } %> />
        <% } else { %>
            <input type="text" id="id_<%= attributes[attribute].name %>"
               name="<%= attributes[attribute].name %>"
               value="<%= attributes[attribute].value %>" />
        <% } %>
        </div>
        <% } %>
    <% } %>
        <div class="line delete">
        <a class="delete" href="#">Delete</a>
        </div>
    </script>

    <script type="text/html" id="button-template">
         <div class="button" data-attribute="text"><%= text %></div>
    </script>

    <script type="text/html" id="checkbox-template">
        <div class="checkbox <%= checked ? 'checked' : '' %>"></div>
        <span data-attribute="text"><%= text %></span>
    </script>

    <script type="text/html" id="radio-template">
        <div class="radio <%= checked ? 'checked' : '' %>"></div>
        <span data-attribute="text"><%= text %></span>
    </script>

    <script type="text/html" id="heading-template">
        <h1 class="heading" data-attribute="text" style="font-size: <%= size %>px; color: <%= color %>"><%= text %></h1>
    </script>

    <script type="text/html" id="paragraph-template">
        <div class="paragraph" style="background-color: <%= background %>">
            <p data-attribute="text"><%= text %></p>
        </div>
    </script>

    <script type="text/html" id="label-template">
        <strong data-attribute="text"><%= text %></strong>
    </script>

    <script type="text/html" id="combobox-template">
        <div class="combobox">
            <span class="text" data-attribute="text"><%= text %></span>
            <span class="opener"></span>
        </div>
    </script>

    <script type="text/html" id="table-template">
        <table>
            <% for (var i=0; i < rows; i++ ) { %>
                <tr>
                    <% for (var j=0; j < columns; j++ ) { %>
                        <td>
                            <input type="text" data-row="<%= i %>" data-column="<%= j %>" value="<%=  values[i] ? values[i][j] : ''  %>" />
                        </td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </script>

    <script type="text/html" id="image-template">
        <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" width="200px" height="100px" viewBox="0 0 200 100" preserveAspectRatio="none" style="width: 100%; height: 100%;">
        <line vector-effect="non-scaling-stroke" fill="none" stroke="#444444" stroke-width="2" x1="0" y1="100" x2="200" y2="0"></line>
        <line vector-effect="non-scaling-stroke" fill="none" stroke="#444444" stroke-width="2" x1="0" y1="0" x2="200" y2="100"></line>
        </svg>​
    </script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

    <script type="text/javascript">
        var usemockups = {
            models: {},
            collections: {},
            routers: {},
            views: {},
            toolbox: []
        }
    </script>
    <script src="static/js/persistance/local-storage.js"></script>

    <script src="static/js/routers/document.js"></script>
    <script src="static/js/models/document.js"></script>
    <script src="static/js/models/mockup.js"></script>
    <script src="static/js/models/toolbox.js"></script>
    <script src="static/js/views/document.js"></script>
    <script src="static/js/views/toolbox.js"></script>
    <script src="static/js/views/mockup.js"></script>
    <script src="static/js/views/properties.js"></script>

    <script type="text/javascript">

        usemockups.toolbox = new usemockups.collections.Toolbox([{
            "name": "button",
            "category": "form",
            "template": "#button-template",
            "attributes": [{
                "name": "text",
                "default": "Button"
            },{
                "name": "width",
                "default": 80
            }]
        },{
            "name": "checkbox",
            "category": "form",
            "template": "#checkbox-template",
            "attributes": [
                {
                    "name": "checked",
                    "type": "boolean",
                    "default": true
                },
                {
                    "name": "text",
                    "type": "string",
                    "default": "Label"
                }
            ]
        },{
            "name": "combobox",
            "category": "form",
            "template": "#combobox-template",
            "attributes": [
                {
                    "name": "text",
                    "default": "Combobox"
                },
                {
                    "name": "width",
                    "default": 120
                }
            ]
        },{
            "name": "radio",
            "category": "form",
            "template": "#radio-template",
            "attributes": [
                {
                    "name": "checked",
                    "type": "boolean",
                    "default": true
                },
                {
                    "name": "text",
                    "type": "string",
                    "default": "Label"
                }
            ]
        },
        {
            "name": "heading",
            "category": "typography",
            "template": "#heading-template",
            "attributes": [
                {
                    "name": "text",
                    "default": "Lorem ipsum dolor sit amet"
                },
                {
                    "name": "size",
                    "default": "25"
                },
                {
                    "name": "color",
                    "default": "black"
                }
            ]
        },

            {
                "name": "paragraph",
                "category": "typography",
                "template": "#paragraph-template",
                "attributes": [
                    {
                        "name": "text",
                        "default": "Lorem ipsum dolor sit amet"
                    },
                    {
                        "name": "width",
                        "default": 300
                    },
                    {
                        "name": "background",
                        "default": "#dedede"
                    }
                ]
            },

            {
                "name": "label",
                "category": "typography",
                "template": "#label-template",
                "attributes": [
                    {
                        "name": "text",
                        "default": "Label"
                    }
                ]
            },

        {
            "name": "table",
            "category": "content",
            "template": "#table-template",
            "attributes": [{
                "name": "width",
                "default": 250
            },{
                "name": "rows",
                "default": "3"
            },{
                "name": "columns",
                "default": "3"
            },{
                "name": "values",
                "hidden": true,
                "default": [
                    ["lorem", "ipsum", "dolor"],
                    ["sit", "amet", "lorem"],
                    ["ipsum", "dolor", "sit"]
                ]
            }]
        },

            {
                "name": "image",
                "category": "content",
                "template": "#image-template",
                "attributes": [{
                    "name": "width",
                    "default": 250
                },{
                    "name": "height",
                    "default": 250
                }]
            }


        ]);

        usemockups.custom_mockup_views = {
            "table": usemockups.views.TableMockup
        };



        $(function () {

            var documents = new usemockups.collections.Documents();
            var router = new usemockups.routers.Document({
                documents: documents
            });

            Backbone.history.start({
                pushState: false // !!(window.history && window.history.pushState)
            });

            new usemockups.views.Navigation({
                router: router,
                model: documents
            });


        });
    </script>

</body>
</html>